h1{
    font-weight: 700;
    font-size: 40px;
    margin: 10px;
    margin-bottom: 70px;
}
input{
    width:100%;
}
.item-container{
    text-align: left;
}
.ls-row{
    margin: 12px;
}
.add{
    width: 80px;
}
.delete{
    width: 80px;
}
.header-container{
    margin-bottom: 50px;
}